body {
    background-color: #1c2026;
    height: 100vh;
    display: flex;
    overflow: hidden;
    color: rgb(255, 255, 255);
    overflow-y: auto; /* permite scroll vertical */
}
.sidebar {
    width: 350px;
    background-color: #0c0d0e;
    color: white;
    padding: 15px;
    overflow-y: auto;
}
.sidebar h4 {
    color: #4dff07;
    margin-bottom: 15px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 6px;
}
.sidebar a:hover {
    background-color: #495057;
}
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.text-muted {
    color: grey;
}
.modal-content{
    background-color:rgb(2, 2, 2);
    color:gray;

}
.h2 {
    color: white;
}
.list-group.mb-3 .list-group-item {
  background-color: black;
  color: white;
  border: 1px solid #333; /* opcional, para ver los bordes */
}
.accordion .accordion-item .accordion-body {
    background-color: black;
    color: rgb(255, 255, 255);
}

.accordion-button {
    background-color: black;
    color: rgb(255, 255, 255);
}

.stat.card {
    background-color: #4caf50; /* verde */
    color: white;
}